.wd-search-bar {
  background-color: darkgray;
  height: 30px;

  position: relative;
  width: 520px;
  left: 16px;
}

.wd-right-offset {
  position: relative;
  float: right;
  right: 12px;
  font-size: 30px;
}

.wd-links-selected-padding {
  padding: 16px;
  float: left;
}

.wd-links-padding {
  padding: 16px;
  float: left;
}

.wd-links-selected-font {
  padding: 16px 0;
  border-bottom: 3px solid rgb(29, 161, 242);
  font-size: 15px;
  text-decoration: none;
}

.wd-side-padding {
  padding-left: 16px;
  padding-right: 16px;
}

.wd-links-font {
  color: rgb(110, 118, 125);
  text-decoration: none;
  font-size: 15px;
}

.wd-post-topic {
  font-size: 13px;
  color: rgb(110, 118, 125);
}

.wd-post-title {
  font-size: 15px;
  margin-right: 16px;
}

.wd-posts {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgb(47, 51, 54);
  border-bottom: 1px solid rgb(47, 51, 54);
  height: 150px;
}

.wd-post-img-title {
  font-size: 15px;
  margin-right: 132px;
}

.wd-post-author {
  font-size: 13px;
}


.wd-post-img {
  float: right;
  width: 100px;
  height: 100px;
  position: relative;
  right: 16px;
  top: 25px;
}


.wd-mini-icon {
  position: relative;
  top: 2px;
  width: 13px;
  height: 13px;
}