* {
  font-family: "Helvetica Neue", sans-serif;
  color: white;
}

.wd-bg-color {
  background: black;
}

.wd-border-color {
  color: rgb(47, 51, 54);
}

.wd-white-color {
  color: white;
}

.wd-12pt-border {
  border-radius: 12px;
}

.wd-blue-color {
  color: rgb(29, 161, 242);
}

.clear {
  clear: both;
}

.wd-16px-left-margin {
  margin-left: 16px;
}

.wd-page-border {
  width: 600px;
  border-left: 1px solid rgb(47, 51, 54);
  border-right: 1px solid rgb(47, 51, 54);
  margin: auto;
  padding-top: 12px;
}

.wd-even-spacing {
  display: flex;
  justify-content: space-evenly;
}

.wd-bold {
  font-weight: bold;
}